/* สไตล์สำหรับการจัดเรียงฟอร์มและรูปภาพด้านข้าง */
.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
}

/* กล่องฟอร์มกรอกรหัส */
.form-container {
    background-color: white;
    padding: 55px;
    border-radius: 105px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    margin-right: 30px; /* ช่องว่างระหว่างฟอร์มและรูปภาพ */
    border:  3px solid black;
}

/* ข้อความ "Enter your password" */
.form-title {
    font-size: 50px;
    margin-bottom: 20px; /* ระยะห่างระหว่างข้อความและปุ่ม */
    font-weight: bold;
    white-space: nowrap; /* ป้องกันไม่ให้ข้อความแตกบรรทัด */
    text-align: center; /* จัดข้อความให้กึ่งกลาง */
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
    margin-top: -30px;
}

/* กล่องรูปภาพ */
.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image {
    width: 500px; /* กำหนดความกว้าง */
    height: 510px; /* กำหนดความสูง */
    border-radius: 105px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* ทำให้รูปพอดีกรอบ โดยไม่ผิดเพี้ยน */
}


/* สไตล์สำหรับการแสดงผลตัวเลขในฟอร์มกรอกรหัส */
#numPad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.numButton {
    font-size: 24px;
    padding: 15px;
    width: 100px;
    height: 70px;
    margin: 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
}

.numButton:hover {
    background-color: #ff1493;
}


/* สไตล์สำหรับเนื้อหาหลังจากกรอกรหัสผ่าน */
body {
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
}

h1 {
    color: #ff1493;
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 20, 147, 0.3);
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Itim', sans-serif; /* ใช้ฟอนต์ Itim */
}

button:hover {
    background-color: #ff1493;
    transform: translateY(-3px);
}

